<div class="header">
<section class="logo">
  <img src="img/ford3logo-removebg-preview.png" alt="Logo da Ford">
</section>
        
<div class="interface">
  <section class="menu-desktop">
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
      </ul>
    </nav>
  </section>
</div>
</div>

<div class="quiz-container">
  
  <span class="progress-text">
  {{ finished ? 'RESULTADO' : 'Questão ' + (currentQuestionIndex + 1) + ' de ' + questions.length }}
  </span>

  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="(currentQuestionIndex / questions.length) * 100"></div>
  </div>


  <div *ngIf="!finished" class="quiz-box">

    <h2>{{ currentQuestion.text }}</h2>
    
    <ul>
      <li *ngFor="let option of currentQuestion.options">
        
        <button (click)="selectOption(option)">
          {{ option.text }}
        </button>

      </li>
    </ul>

  </div>

  
  <div *ngIf="finished" class="result-box">
    
    <h2>🎉 Você deu match com:</h2>
    
    <ul>
      <li *ngFor="let car of getResults()">
        
        <div class="car-match">

          <span class="car-name">{{ car }}</span>
          <img [src]="carImages[car]" [alt]="car" class="car-image" />
          <button class="explore-button" (click)="openModal(car)">Explorar Mais ></button>
          <p class="score">⭐ Pontuação: {{ scores[car] }} ponto(s)</p>

        </div>

      </li>
    </ul>
    
    <button class="restart" (click)="restartQuiz()">Refazer Quiz</button>

    <div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{ selectedCar }}</h3>
    <table>
      <tr><td><strong>Preços:</strong></td><td>{{ carDetails[selectedCar]?.preco }}</td></tr>
      <tr><td><strong>Versões:</strong></td><td>{{ carDetails[selectedCar]?.versoes }}</td></tr>
      <tr><td><strong>Motor:</strong></td><td>{{ carDetails[selectedCar]?.motor }}</td></tr>
      <tr><td><strong>Potência:</strong></td><td>{{ carDetails[selectedCar]?.potencia }}</td></tr>
      <tr><td><strong>Torque:</strong></td><td>{{ carDetails[selectedCar]?.torque }}</td></tr>
      <tr *ngIf="carDetails[selectedCar]?.aceleracao">
        <td><strong>Aceleração:</strong></td><td>{{ carDetails[selectedCar]?.aceleracao }}</td>
      </tr>
      <tr *ngIf="carDetails[selectedCar]?.eletrico">
        <td><strong>Elétrico:</strong></td><td>Sim</td>
      </tr>
      <tr *ngIf="carDetails[selectedCar]?.manual">
        <td><strong>Câmbio Manual:</strong></td><td>Sim</td>
      </tr>
    </table>

    <div class="modal-buttons">
      <button (click)="closeModal()">Fechar</button>
      <a [href]="carLinks[selectedCar]" target="_blank">
        <button>Detalhes</button>
      </a>
    </div>
  </div>
</div>


  </div>

</div>
