<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Ford Brasil</title>
</head>
<body>
    <header>

        <section class="logo">
            <img src="img/ford3logo-removebg-preview.png" alt="Logo da Ford">
        </section>
        
        <div class="interface">

            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="/match">Ford Match</a></li>
                    </ul>
                </nav>
            </section>
        </div>

    </header>
    
    <section class="hero-site">
        <div class="interface">
            <div class="txt-hero">
                <h1>Encontre o Ford ideal para <span>o seu estilo de vida</span></h1>
                <p>Da cidade à estrada, existe um Ford feito pra sua jornada.
                   <span>
                   Tecnologia, performance e estilo, tudo no seu tempo e no <br> seu orçamento.
                   </span>
                </p>

                 <a href="/match">
                    <button>Dê MATCH</button>
                </a>
                </div>
            </div>
    </section>

</body>
</html>
